@model ViewModel.MyRoleViewModel
@{
    var data = new Logic.FunctionLogic().GetFunctionGroupList();

}

<article class="page-container">
    <form action="/Roles/CreateRole" method="post" class="form form-horizontal" id="form-admin-role-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(a => a.Name, new { @class = "input-text", @required = "required" })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @Html.TextBoxFor(a => a.Description, new { @class = "input-text", })
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">网站角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                @foreach (var item in data.FunctionGroup)
                {
                    <dl class="permission-list">
                        <dt>
                            <label>
                                <input type="checkbox" value="" name="user-Character-0" id="user-Character-0">
                                @item.GroupName
                            </label>
                        </dt>
                        <dd>
                            @foreach (var fun in data.Function.Where(a => a.GroupID == item.GroupID))
                            {
                                <dl class="cl permission-list2">
                                    <dt>
                                        <label class="">
                                            <input type="checkbox" value="" name="user-Character-0-0" id="user-Character-0-0">
                                            @fun.FunctionName
                                        </label>
                                    </dt>
                                </dl>

                            }
                        </dd>
                    </dl>
                }
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>
<script type="text/javascript">
    $(function () {
        $(".permission-list dt input:checkbox").click(function () {
            $(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
        });
        $(".permission-list2 dd input:checkbox").click(function () {
            var l = $(this).parent().parent().find("input:checked").length;
            var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if ($(this).prop("checked")) {
                $(this).closest("dl").find("dt input:checkbox").prop("checked", true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
            }
            else {
                if (l == 0) {
                    $(this).closest("dl").find("dt input:checkbox").prop("checked", false);
                }
                if (l2 == 0) {
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
                }
            }
        });

    });
    $("#form-admin-role-add").submit(function () {

        $(this).ajaxSubmit(function (res) {
            if (res == 1) {
                layer.msg('创建成功!', { icon: 1, time: 1000 }, function (res) {

                    refresh();

                });


            } else {
                alert("创建失败");
            }
        })
        //$(this)[0].onsubmit = false;
        return false;
    })
</script>
