@using Webdiyer.WebControls.Mvc;
@using Entity;
@model PagedList<MyRoles>
<title>角色管理</title>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form id="searchForm">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <input type="text" name="roleName" placeholder=" 角色名称" style="width:250px" class="input-text">
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜角色</button>

        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
            </a>
            <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色', '/Roles/CreateRole', '800')">
                <i class="Hui-iconfont">&#xe600;</i> 添加角色
            </a>
        </span> 
        <span class="r">共有数据：<strong>@Model.TotalItemCount</strong> 条</span>

    
    </div>
    <div class="mt-20" id="content">
        @Html.Partial("RolePage", Model)
    </div>
</div>
@{Html.RegisterMvcPagerScriptResource();}

<script type="text/javascript">

    /*管理员-角色-添加*/
    function admin_role_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    /*管理员-角色-编辑*/
    function admin_role_edit(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj, id) {
        layer.confirm('角色删除须谨慎，确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '/Roles/DeleteRole',
                data: { roleId:id},
                success: function (data) { 
                    layer.msg('已删除!', { icon: 1, time: 1000 });
                    refresh();
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
     
</script>
