@model string  
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateQrCode</title>
</head>
<body>
    <div> 
        <img src="@Model" />
    </div>
</body>
</html>
