<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--微信参数-->
  <add key="currentHost" value="http://1x687f9296.iok.la" />
  <add key="appid" value="wx3ff579452e992b33"/>
  <add key="secret" value="7a1b04667d20503478042b7de7515e0c"/>
  <!--微信参数-->
  <add key="FileUrl" value="http://1x687f9296.iok.la/Logs/"/>
  <add key="CacheType" value="RedisCache"/>
  <!--Redis-->
  <add key="Redis_IP" value="127.0.0.1"/>
  <add key="Redis_Port" value="6379"/>
  <add key="Redis_PassWord" value="adgjmptw"/>
  <!--Redis-->

</appSettings>
