<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="PageSize" value="2"/>
  <add key="CacheType" value="RedisCache"/>
  <add key="DbName" value="SuperDB"/>
  <!--Redis-->
  <add key="Redis_IP" value="127.0.0.1"/>
  <add key="Redis_Port" value="6379"/>
  <add key="Redis_PassWord" value="adgjmptw"/>
  <!--Redis-->
</appSettings>