<?xml version="1.0" encoding="utf-8"?>
<dataBaseSettings>
  <connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SuperDB.mdf;Initial Catalog=SuperDB;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="SuperDBEntities" connectionString="metadata=res://*/ManageModel.csdl|res://*/ManageModel.ssdl|res://*/ManageModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SuperDB.mdf;Initial Catalog=SuperDB;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</dataBaseSettings>
