<?xml version="1.0" encoding="utf-8"?>
<redis>
  <Pooled>
    <clientManagerConfig MaxReadPoolSize="200" MaxWritePoolSize="200" AutoStart="true" DefaultDb=""/>
    <readhosts>
      <client host="192.168.0.169" port="6379" />
      <client host="192.168.01.122" port="6379" />
    </readhosts>
    <writehosts>
      <client host="192.168.0.69" port="6379" />
      <client host="192.168.0.122" port="6379" />
    </writehosts>
  </Pooled>
</redis>
