@using Webdiyer.WebControls.Mvc;

@model PagedList<Entity.Function>
 @{
      Layout = null;
         }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title> 
    <link href="~/Content/H-ui.css" rel="stylesheet" />

    <link href="~/Content/H-ui.admin.css" rel="stylesheet" />
    <link href="~/Content/iconfont.css" rel="stylesheet" />
    <link href="~/Skin/default/skin.css" rel="stylesheet" id="skin" />
    <link href="~/Content/style.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <style>
        .page li {
            float: left;
            margin-left: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
            display: inline-block;
            margin-left: 2px;
            text-align: center;
            text-decoration: none;
            color: #666;
            height: 26px;
            line-height: 26px;
            text-decoration: none;
            margin: 0 0 6px 6px;
            padding: 0 10px;
            font-size: 14px;
        }

            .page li:hover {
                background: #5a98de;
                color: #fff;
            }

        .page .active {
            background: #5a98de;
            color: #fff;
        }

        .pageDiv {
            float: right;
            padding-top: 10px;
            text-align: right;
        }

        .dataTables_info {
            clear: both;
            float: left;
            padding-top: 10px;
            font-size: 14px;
            color: #666;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DataOperate.js"></script>
    <script src="~/Lib/zTree/v3/js/jquery.ztree.core-3.5.min.js"></script>
    @*<script type="text/javascript" src="/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>*@

</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 菜单管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form id="searchForm">
                <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
                <input type="text" name="functionName" placeholder="菜单名称" style="width:250px" class="input-text">
                <input name="groupID" hidden />
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜菜单</button>

            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">

                <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加菜单', '/Roles/CreateRole', '800')">
                    <i class="Hui-iconfont">&#xe600;</i> 添加菜单
                </a>
            </span>
            <span class="r">共有数据：<strong>@Model.TotalItemCount</strong> 条</span>


        </div>
        <div class="mt-20">
            <table class="table">
                <tr>
                    <td width="200" class="va-t"><ul id="functionTree" class="ztree"></ul></td>
                    <td class="va-t"  id="content">
                        @Html.Partial("FunctionPage",Model)
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <button onclick="scan()">扫码</button>
  @{Html.RegisterMvcPagerScriptResource();}

</body>
</html>
<script src="~/Scripts/jquery.form.js"></script>
<script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function scan()
    {
        var data = {
            QRCode: "01120011510130875771",
            ScanDate: "2017-08-04 16:50:02",
            StoreCode: "R093633",
            SRCode: "SR01",
            Type: 1,
            apiKey: "FHeE95YN"
        }
        $.ajax({
            url: "http://210.14.77.123:5003/OpenApi/QRSvc.asmx?op=GetQRCodeInfo&callback=?",
            type: "post",
            data:data ,
            success: function (res) {
                console.log(res);
            }
        })
        return false;
        $.ajax({
            //url: "http://210.14.77.123:5003/OpenApi/QRSvc.asmx?op=GetQRCodeInfo&callback=?",
            url:"/Home/Ajax",
            type: "post",
            data: {
                url:"http://210.14.77.123:5003/OpenApi/QRSvc.asmx?op=GetQRCodeInfo",
                postDataStr: JSON.stringify(data)
            },
            success: function (res) {
                console.log(res);
            }
        })
    }
    var zNodes = JsonToJson('@Json.Encode(ViewBag.FunctionList)');

    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        }, callback: { 
            beforeClick: beforeClick,
        }
    };  

    
   
    $(document).ready(function () {
        $.fn.zTree.init($("#functionTree"), setting, zNodes);
    });
    function beforeClick(treeId, treeNode, clickFlag) {
        if (treeNode.pId == null)
        {
            $("#searchForm input[name='groupID']").val(treeNode.id);
            $("#searchForm button[type='submit']").click();
        }
    
    }

</script>