
@{ 
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<form action="/Home/Gen">
    <select name="type">
        <option value="pdf">pdf</option>

        <option value="image">image</option>
    </select>
    url:<input name="url"  /> 
    <input type="submit" value="生成" />
</form> 