@using Webdiyer.WebControls.Mvc;
@using Entity;
@model PagedList<MyLogger>
@{
    ViewBag.Title = "日志管理";
}
<title>@ViewBag.Title</title>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> @ViewBag.Title <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form id="searchForm">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <input type="text" name="roleName" placeholder=" 角色名称" style="width:250px" class="input-text">
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜角色</button>

        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">


        </span>
        <span class="r">共有数据：<strong>@Model.TotalItemCount</strong> 条</span>


    </div>
    <div class="mt-20" id="content">
        @Html.Partial("LoggerPage", Model)
    </div>
</div>
@{Html.RegisterMvcPagerScriptResource();}